:host {
    display: block;
    flex-direction: column;
    height: 91vh;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.buscador{
    width: 30%;
}


img {
    max-width: max-content;
  
   
}

.limitTextHeight {
    height: 20px;
    overflow: hidden;
}

.zona {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.visibles{
    visibility: true;
}

.ocultos {
    display:none;
}