<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="contenedor-padre">
  <mat-toolbar class="barra" color="primary">
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        Inverte en bienes raíces Yucatán.
      </span>
      <span>
        <!-- <a mat-stroked-button (click)="login()" *ngIf="!usuario"> Iniciar sesión</a>
        <a mat-stroked-button (click)="logout()" *ngIf="usuario"> Cerrar Sesión</a> -->
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido">
   
    <mat-sidenav style="min-width: 300px;" #cajon mode="side" opened>
      <!-- Aqui va el contenido-->
      
      
      
      <mat-nav-list>

        <a mat-list-item  [routerLink]="['/mapa']"><mat-icon>home</mat-icon> Home</a><br>
        <!-- <a mat-list-item [routerLink]="['/cliente']"><mat-icon>group</mat-icon> Clientes</a> <br>
        <a mat-list-item  [routerLink]="['/venta']"><mat-icon>shopping_cart</mat-icon> Venta</a> <br> -->

        <!-- <a mat-list-item href='#'>
          <mat-icon color="accent">add</mat-icon>
          Agregar mascota
        </a>
        <a mat-list-item href='#'>
          <mat-icon color="primary">pets</mat-icon>
          Ver mascotas
        </a> -->
      </mat-nav-list>
      <mat-accordion>
        

        <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Más
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item href='#'>
              Acerca de
            </a>
            <a mat-list-item href='#'>
              Ayuda
            </a>
          </mat-nav-list>
        </mat-expansion-panel> -->
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!-- 
<mat-drawer-container class="global-content">
  <mat-drawer #drawer mode="side">
     
      
     
  </mat-drawer>

  <div>
    <button (click)="drawer.toggle();">Mostrar</button>
    
  </div>
</mat-drawer-container> -->


<footer>
  Footer
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


