<h1 mat-dialog-title>Inicio de sesión</h1>
<div mat-dialog-content>
    
        <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p>
            <mat-form-field>
                <input type="text" formControlName="email" matInput placeholder="Email">
            </mat-form-field>
        </p>
        
        <p>
            <mat-form-field>
                <input type="password"  formControlName="psswrd" matInput placeholder="Contraseña">
            </mat-form-field>
        </p>

  
    </form>
</div>

<div mat-dialog-actions>
    <button type="submit" (click)="login()" [disabled]="!loginForm.valid" mat-raised-button>Iniciar Sesión</button>

    <button mat-raised-button (click)="close()" >Cancelar</button>
    
</div>


<!-- 
<mat-card>
    <mat-card-title>Inicio de sesión</mat-card-title>
   
    </mat-card-content>
</mat-card> -->
