
<div class="contenedor">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nueva Propiedad</mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="ver()">
   
          <mat-form-field class="descr">
            <mat-label>Descripción</mat-label>
          <textarea matInput [formControl]="descrip" placeholder="Ingrese nuevo dato"> </textarea>
           
          </mat-form-field>
        
          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="otros">
                <mat-label>Desarrollo</mat-label>
              <input matInput formControlName="Desarrollo"  type="text" placeholder="Ingrese nuevo dato">
            </mat-form-field>
  
            </mat-grid-tile>
        
        
  
  
      
  
        <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Desarrollador</mat-label>
        <input matInput formControlName="Desarrollador" type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
  
    </mat-grid-tile>
   
      <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Zona</mat-label>
        <input matInput formControlName="Zona" type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
      
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Tipo</mat-label>
        <input matInput formControlName="Tipo"  type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Precio Mínimo</mat-label>
        <input  matInput formControlName="PrecioMin"   type="number" placeholder="Ingrese nuevo dato">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Precio Máximo</mat-label>
        <input matInput  formControlName="PrecioMax"  type="number" placeholder="Ingrese nuevo dato">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>
    </mat-grid-tile>
  
    
    </mat-grid-list>
  
    <mat-grid-list cols="3" rowHeight="70px">
      
    <mat-grid-tile>
    <mat-form-field class="otros">
          <mat-label>Apartado</mat-label>
        <input matInput formControlName="Apartado"   type="number" placeholder="Ingrese nuevo dato">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Enganche</mat-label>
        <input matInput  formControlName="Enganche"  type="text" placeholder="Ingrese nuevo dato">
       
      </mat-form-field>
    </mat-grid-tile>
  
  
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Formas de pago</mat-label>
        <input matInput formControlName="FormasDePago"  type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Meses</mat-label>
        <input matInput  formControlName="Meses"  type="number" placeholder="Ingrese nuevo dato">
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Financiamiento </mat-label>
        <input matInput  formControlName="Financiamiento"  type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
     </mat-grid-tile>
      
  
     <mat-grid-tile>
      <mat-form-field class="otros">
          <mat-label>Mantenimiento</mat-label>
        <input matInput  formControlName="Mantenimiento"  type="text" placeholder="Ingrese nuevo dato">
        
      </mat-form-field>
    </mat-grid-tile>
  
  </mat-grid-list>
  
    <mat-grid-list cols="2" rowHeight="70px" >
  
      
     <mat-grid-tile [rowspan]="2">
      <mat-form-field appearance="fill">
          <mat-label>Elige una fecha</mat-label>
          <input matInput  [formControl]="date"  [matDatepicker]="picker" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
  
  
    <mat-grid-tile>
      <mat-form-field >
          <mat-label>Latitud</mat-label>
        <input matInput  formControlName="Lat"  type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-form-field>
          <mat-label>Longitud</mat-label>
        <input matInput  formControlName="Lon"  type="text" placeholder="Ingrese nuevo dato">
      </mat-form-field>
    </mat-grid-tile>
  

    </mat-grid-list>
  </form>
  
  
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid"  (click)="ver() ">Subir Propiedad</button>
      <button mat-raised-button color="primary" (click)="setData()">Guardar datos</button>
      <button mat-raised-button color="primary" (click)="setDataNull()">Eliminar datos</button>
   
  

    </mat-card-content>
      </mat-card>


      <button     class="regresaricon" mat-raised-button (click)="backClicked()"><mat-icon>kewyboard_return</mat-icon>Regresar</button>
        
    </div>