:host {
    display: block;
    flex-direction: column;
    height: 91vh;
}

.descr{
    width: 99%;
}

.otros{
    width: 99%;
}
/* div{
    display: inline;
} */

a {
    text-decoration: none;
    color: inherit;
}

.example-spacer {
    flex: 1 1 auto;
  }

/* .example-card{
    width: max-content;
    max-height: max-content;
} */


/* mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
  } */

  .regresaricon{
  
    position:absolute;
    z-index: 1;
    right:0px;
    top:0px;
    /* color: black */
  }

  .eliminar{
  
    position:relative;
    z-index: 1;
    right:0px;
    top:0px;
    /* color: black */
  }

.item{
    display: flex;
    flex-direction: row;
}